.textContent {
  font-family: 'Padauk', sans-serif;
  text-align: center;
  margin-bottom: 0;
  color: inherit;
}

.marginTop {
  margin-top: 1rem;
}

.marginBottom {
  margin-bottom: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor {
  color: #c9a0dc;
}

.anchor:hover {
  transition: color 0.75s ease;
  -webkit-transition: color 0.75s ease;
}