.section {
  overflow: hidden;
  max-height: 100vh;
  flex-direction: unset;
}

.heroBody {
  padding: 0;
  align-items: stretch!important;
}

.containerDiv {
  flex-grow: 1;
}

.heroImg {
  height: 100%;
  min-height: auto;
}

.imgElement {
  min-height: 0;
  height: 100%;
}

.textContent {
  text-align: center;
  font-family: 'Padauk', sans-serif;
  color: inherit;
}

.link {
  margin-top: 2rem;
  color: #c9a0dc;
}

.link:hover {
  transition: color 0.75s ease;
  -webkit-transition: color 0.75s ease;
}