.textContent {
  font-family: 'Padauk', sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 500px;
}

.imageMargin {
  margin-top: 40px;
}