.textContent {
  font-family: 'Padauk', sans-serif;
  text-align: center;
  margin-bottom: 0;
  color: inherit;
}

.addressText {
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 641px;
}

.anchor {
  margin-top: 2rem;
  color: #c9a0dc;
}

.anchor:hover {
  transition: color 0.75s ease;
  -webkit-transition: color 0.75s ease;
}