.header {
  padding: 1rem 0 3rem;
  background: none;
  position: absolute;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.navbar {
  background: rgba(36, 36, 36, 0.9);
  z-index: 1!important;
}

.navbarItem {
  color: #c9a0dc;
  font-family: 'Padauk', sans-serif;
  font-size: 1.25rem;
}

.navbarItem:hover {
  color: white!important;
  background-color: transparent!important;
}

.navbarItem:active {
  color: white!important;
}

.navbarItem:focus {
  color: white!important;
  background-color: transparent!important;
}

.burgerIcon {
  color: #c9a0dc;
}

.burgerIcon:hover {
  color: white;
}

.navbarMenu {
  background-color: transparent;
}

.brandTypography {
  font-family: 'Prata', serif;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1023px) {
  .brandTypography {
    font-size: 1.25rem;
  }
}