.header {
  padding: 1rem 0 3rem;
  background: none;
  position: absolute;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.navbar {
  background: rgba(36, 36, 36, 0.9);
  z-index: 1!important;
}

.navbarItem {
  color: #c9a0dc; 
}

.navbarItem:hover {
  color: white!important;
  background-color: transparent!important;
}

.navbarItem:active {
  color: white!important;
}

.burgerIcon {
  color: #c9a0dc;
}

.burgerIcon:hover {
  color: white;
}

.navbarMenu {
  background-color: transparent;
}