.header {
  padding: 1rem 0 3rem;
  background: none;
  position: absolute;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.navbar {
  // background: none;
  background: rgba(36, 36, 36, 0.9);
}

.navbarItem {
  color: #c9a0dc; 
}

.navbarItem:hover {
  color: white!important;
}